@charset "UTF-8";

@media screen and (min-width: 768px) {
   span#burguer {
        display: none;
    }

    /* header {
        display: flex;
        justify-content: space-between;
    } */

    menu {
        display: block;
        text-align: right;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}